@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Andrew Modify this template to jump-start your ASP.NET Web Pages application.</h2>
        </hgroup>
        Deploy this shit already
    </div>
</section>
}

<h3>Why cant I run this</h3>
